<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Fontawesome link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    
</head>
<body>

<!-- Main Navbar -->
<app-navbar></app-navbar>

<!-- Driver Search -->
<!-- <section class="bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="container">
                    <div class="row animated fadeIn">
                        
                        <span><h4><i class="fa fa-users text-muted"></i>Drivers Details <button type="button" class="btn btn-primary btn-block text-white m-2" (click)="openModal(mymodal)"> Add Driver <i class="fa fa-plus-circle"></i></button></h4></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-2 ">
                <form>
                    <div class="input-group">
                        <input type="search" class="form-control rounded m-1" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                        <button type="button" class="btn btn-outline-primary btn-primary bg-primary text-white m-1">search</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</section> -->

<!-- Drivers  Table -->
<section class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card animated zoomIn delay-2s">
                    <div>
                        <div class="bg-primary text-white">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="container">
                                            <div class="row animated fadeIn">
                                                
                                                <span><h4><i class="fa fa-users text-muted"></i>Drivers Details <button type="button" class="btn btn-primary btn-block text-white m-2 "data-bs-target="#staticBackdrop" (click)="openModal(mymodal)"> Add Driver <i class="fa fa-plus-circle"></i></button></h4></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 p-2 ">
                                        <form>
                                            <div class="input-group">
                                                <input type="search" class="form-control rounded m-1" placeholder="Search" aria-label="Search"
                                                aria-describedby="search-addon" />
                                                <button type="button" class="btn btn-outline-primary btn-primary bg-primary text-white m-1">search</button>
                                              </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    <!-- <div class="card-header bg-primary text-white">
                        <h3>Drivers Details<button type="button" class="btn btn-primary btn-block text-white m-2" (click)="openModal(mymodal)">Add Driver <i class="fa fa-plus-circle"></i></button>
                         </h3>
                    </div> -->
                    <div class="card-body bg-light-blue " style="overflow-x:auto;">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-hover text-center table-bordered table-striped mb-0" >
                              <thead class="bg-dark text-white">
                                <tr>
                                  <th scope="col">Driver Id</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Aadhar</th>
                                  <th scope="col">Phone Number</th>
                                  <th scope="col">Details</th>
                                  <th scope="col">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor='let item of driverDetailsData'>
                                  <td scope="row">{{item.driverId}}</td>
                                  <td>{{item.name}}</td>
                                  <td>{{item.aadhar}}</td>
                                  <td>{{item.phoneNumber}}</td>
                                  <td>{{item.details}}</td>
                                  <td> <i title="Edit" (click)="editModal(mymodal,item)" class="fas fa-edit  mx-2 "></i>
                                    <i title="Delete" class="fa fa-trash"></i></td>
                                  <!-- <td><a routerLink='/details' class="btn btn-outline-dark btn-sm">Details</a></td> -->
                                </tr>
                              </tbody>
                            </table>
                            <h4>{{errMsg}} </h4>
                          </div>
                    
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>

 <!-- add driver model -->
<ng-template #mymodal let-modal>
    <div id="staticBackdrop">
        <div class="modal-header bg-primary">
            <h4 class="modal-title text-white" id="modal-basic-title ">{{title}}</h4>
          </div>
          <div class="modal-body">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                          <div *ngIf="name.errors?.required">Name is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="aadhar">Aadhar</label>
                      <input type="text" class="form-control" name="aadhar" [(ngModel)]="model.aadhar" #aadhar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && aadhar.invalid }" required />
                      <div *ngIf="aadhar.invalid && (aadhar.dirty || aadhar.touched)" class="invalid-feedback">
                          <div *ngIf="aadhar.errors?.required">Aadhar is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="phoneNumber">Phone Number</label>
                      <input type="text" id="phoneNumber" class="form-control" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required />
                      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="invalid-feedback">
                          <div *ngIf="phoneNumber.errors?.required">Phone Number is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="details">Details</label>
                      <input type="text" id="details" class="form-control" name="details" [(ngModel)]="model.details" #details="ngModel" [ngClass]="{ 'is-invalid': f.submitted && details.invalid }" required />
                      <div *ngIf="details.invalid && (details.dirty || details.touched)" class="invalid-feedback">
                          <div *ngIf="details.errors?.required">Details is required</div>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')" [disabled]='!model.name || !model.aadhar || !model.phoneNumber || !model.details'>Submit</button>
          </div>
    </div>
  </ng-template>
</body>
</html>