<!-- <div class="height_width">
  <div class="padding"> <canvas id="mychart"></canvas> </div>
  
  <div class="padding"> 
    <p style="text-align: center;"> this is polar chart</p>
    <canvas id="123chart"></canvas> 
  </div>
</div> -->

<body class="displayStyle"> 
  
  <div id="aligned" class="height_width"> 
     <div class="label">
        Aligned
     </div>

     <div class="padding chart_container"> 
        <canvas id="mychart"></canvas> 
     </div> 
     
     <div class="chart_container"> 
        <canvas id="123chart"></canvas> 
     </div> 
  </div>  
</body>