<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Document</title>
</head>
<body>
    <div class="container bg-style">
        <div class="row">
            <div class="col-md-6">
                <div class="card-md">
                    <form  class="box">
                        <h1>Login</h1>
                        <p class="text-muted"> Please enter your login and password!</p> 
                        <input type="text" name="" placeholder="Username"> 
                        <input type="password" name="" placeholder="Password">
                         <a class="forgot text-muted" routerLink="/forgotpassword">Forgot password?</a>
                          <input type="submit" name="" value="Login"  routerLink="/dashboard">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>