.my-custom-scrollbar {
  height: 230px;
}
.footer-hight {
  height: 50px;
}

.closeButtonMargin {
  margin: -5px;
}
.theadPosition {
  position: sticky;
  top: 0;
  background-color: black;
}

// .input {
//   position: relative;
//   display: inline-flex;
//   flex-wrap: wrap;
//   align-items: stretch;
//   width: 50%;
// }
